<!DOCTYPE html>
<html>
    <head>
        <title>ToDo List</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <h2> Welcome ToDo List..</h2>
        <ul>
            <li> <a href="/crud/">Register</a></li>
            <li> <a href="/login/">Login</a></li>
            <li> <a href="">About us</a></li>
            <li> <a href="">Contact us</a></li>
        </ul>
        <p>
            A ToDo list is a systematic tool used to organize tasks and activities, ensuring clarity and focus on what needs to be done. It typically consists of a list of items, each representing a task or goal. ToDo lists help individuals and teams prioritize tasks, manage time effectively, and track progress towards completing goals. They can be handwritten, digital, or integrated into productivity apps, offering flexibility in managing daily responsibilities, projects, and personal objectives. Ultimately, ToDo lists enhance productivity by providing structure and accountability in task management</p>
    </body>
</html>