<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'login.css' %}">
    </head>
    <body>
        <form action="/login/" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="">Email id</label></td>
                    <td><input type="email" name="email" placeholder="baba@gmail.com"></td>
                </tr>
                <tr>
                    <td><label for="">Password</label></td>
                    <td><input type="password" name="password" placeholder="---------------"></td>
                </tr>
                <tr>
                    <td><button>Login</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>